/* :root {
    --color-bg: #69f7be;
    --color-text-main: #000000;
    --color-text-header: #2800ff;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  } */

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url('../HKGrotesk-Regular.otf');
  }
  @font-face {
    font-family: HK Grotesk Bold;
    font-weight: bold;
    src: url('../HKGrotesk-Bold.otf');
  }

body
{
    font-size: 18px;
    line-height: 1.5em;
}

.container 
{
  padding: 20px 10px;
  width: 500px;
  font: 1.2em sans-serif;

  display: flex;
  flex-wrap: wrap;
}

.container > * 
{
  padding: 10px;

  margin: 0 10px;
  flex: 1 1 200px;
}

.two
{
    margin-right: auto;
}

@media all and (max-width: 500px)
{
    body
    {
        font-size: 24px;
        line-height: 1.2em;
    }
    p
    {
        width: 24em;
    }
}

@media all and (min-width: 1200px)
{
    body
    {
        font-size: 32px;
    }
    p
    {
        width: 36em;
    }
}

marquee
{
    font-family: 'HK-Grotesk', sans-serif;
}

h1 
{
    font-family: 'HK Grotesk', sans-serif;
}
  
h2 
{
    font-family: Helvetica, sans-serif;
}
  
h3
{
    font-family: Lucida Console, Courier New, monospace;
}

p 
{
    font-family: Arial, sans-serif;
}


