/* :root {
    --color-bg: #69f7be;
    --color-text-main: #000000;
    --color-text-header: #2800ff;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  } */

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url('HKGrotesk-Regular.otf');
  }
  @font-face {
    font-family: HK Grotesk Bold;
    font-weight: bold;
    src: url('HKGrotesk-Bold.otf');
  }

  h1 {
    font-family: 'HK Grotesk', sans-serif;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h3 {
    font-family: 'Lucida Console', 'Courier New', monospace;
  }
