/* :root {
    --color-bg: #69f7be;
    --color-text-main: #000000;
    --color-text-header: #2800ff;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  } */

/* Import fonts */
@font-face 
{
    font-family: HK Grotesk;
    src: url('../HKGrotesk-Regular.otf');
}
@font-face 
{
    font-family: HK Grotesk Bold;
    font-weight: bold;
    src: url('../HKGrotesk-Bold.otf')
}

:root 
{
    --color-bg-pastel-blue: #aee2ff;
    --font-hk: 'HK Grotesk', sans-serif;
}

body 
{
    font-size: 18px;
    line-height: 1.5em;
    font-family: var(--font-hk);
}

.container 
{
    padding: 20px 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-warp: warp;
    column-gap: 40px;
}

.one 
{
    background-color: #aee2ff; /* pastel blue */
    flex: 1 1 300px; /* Grows/shrinks but starts around 300px */
    padding: 10px;
}

.two
{
    flex: 2 1 500px;
    padding: 10px;
    word-wrap: break-word;
}

marquee,
h1,
h2,
h3,
p,
a 
{
    font-family: var(--font-hk);
}

/* Typography styles */
h2 
{
    font-size: 0.8em;
}

/* Responsive tweaks */
@media (max-width: 1024px) 
{
    .container 
    {
        flex-direction: column;
    }

    .one, .two 
    {
        width: 100%;
        flex: none;
    }

    body 
    {
        font-size: 20px;
    }
}

@media (max-width: 500px) 
{
    body 
    {
        font-size: 24px;
        line-height: 1.2em;
    }

    p 
    {
        width: 100%;
    }
}

@media (min-width: 1200px) 
{
    body 
    {
        font-size: 32px;
    }

    p 
    {
        width: 36em;
    }
}


